<div class="container mt-4">
<div class="row">
    <div class="col-md-6">
        <h2 class="text-center">Creat New Account</h2>
        <form action="/signup" method="post" enctype="multipart/form-data">

            <label for="">Name</label>
            <input type="text" name="Name" class="form-control">

            <label for="">Emain Addres</label>
            <input type="text" name="Email" class="form-control">

            <label for="">Password</label>
            <input type="text" name="Password" class="form-control">

            <a href="/login">Alredy Creat Account</a><br>

            <button type="submit" class="btn btn-success mt-4">Login</button>

        </form>
    </div>
</div>
</div>